tbody{
	border:solid 1px black;

}
td.nomeEstado{
	border: solid 1px black;
	
	text-align: center;
	min-width: 100px;
}	
td.casos{
	    border: solid 1px white;
    /* border-color: black; */
    border-top: solid 1px black;
    border-right: solid 1px black;
    min-width: 100px;
}
td.mortes{
	
	border-right: solid 1px black;
}
td.suspeitos{
	border-right: solid 1px black;
}
td.recuperados{
	border-bottom: solid 1px black;
	border-right: solid 1px black;

}
td.titulo{
	text-align: center;
	
}
td.subTitulo1{
	text-align: center;
	border: solid 1px black;
	min-width: 130px;
	height: 20px;
	   
}
td.subTitulo2{
	text-align: center;
	border: solid 1px black;
	min-width: 140px;
	height: 20px;   
}
